{% extends "_template.html.twig" %}

{% block title %}
    {{ record.title }}
{% endblock %}

{% block content %}
    <div class="section">
        <h2 class="title">
            Album: {{ record.title }}
            <span class="tag is-primary">
                {{ record.averageNote|number_format(2) }}
                /10
            </span>
        </h2>
        <small>Sorti le {{ record.releasedAt|date('d/m/Y') }}</small>
        <p>{{ record.description }}</p>

        <hr>
        <b>Artiste:</b>
        <a href="{{ path('artist_page', {id: record.artist.id}) }}">
            {{ record.artist.name }}
        </a>
        <br>

        {% if record.label %}
            <b>Label:</b>
            <a href="{{ path('label_page', {id: record.label.id}) }}">
                {{ record.label.name }}
            </a>
        {% else %}
            <p>Autoproduction</p>
        {% endif %}

        <hr>
        <h3 class="subtitle">
            Notes: {{ record.notes|length }}
        </h3>

        {% include 'includes/flash_message.html.twig' %}
        
        {# afficher le formulaire seulement si note_form n'est pas null #}
        {% if note_form is not null %}
            <div class="section">
                {{ form_start(note_form) }}
                    {{ form_row(note_form.value, {
                        label: 'Votre note'
                    }) }}

                    {{ form_row(note_form.comment, {
                        label: 'Commentaire (facultatif)'
                    }) }}

                    <button class="button is-success" type="submit">
                        Noter
                    </button>
                {{ form_end(note_form) }}
            </div>
        {% endif %}

        {% for note in record.notes %}
            {# @var note \App\Entity\Note #}
            <br>
            <div class="card">
                <div class="card-content">
                    <strong>
                        Note:
                        <span class="has-text-primary">{{ note.value }}/10</span>
                    </strong>
                    <br>
                    {{ note.comment }}
                    <hr>
                    <small>
                        {% if is_granted('NOTE_DELETE', note) %}
                            <a href="{{ path('record_delete_note', {id: note.id}) }}" class="button is-danger is-small">
                                <i class="far fa-times-circle"></i>&nbsp;
                                Supprimer
                            </a>
                        {% endif %}
                        
                        Par <b>{{ note.user.pseudo }}</b>
                        le <b>{{ note.createdAt|date('d/m/Y') }}</b>
                        à <b>{{ note.createdAt|date('H:i') }}</b>.
                    </small>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

