{% for record in records %}
    {# @var record \App\Entity\Record #}
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-128x128">
                    <img src="https://loremflickr.com/256/256/album,music/all?lock={{ record.id }}" alt="Image">
                </figure>
            </div>

            <div class="media-content">
                <div class="content">
                    <p>
                        <span class="tag is-primary">
                            {{ record.averageNote|number_format(2) }} /10
                        </span>
                        <a href="{{ path('record_page', {id: record.id}) }}" class="has-text-primary">
                            <strong>{{ record.title }}</strong>
                        </a>
                        <small>{{ record.releasedAt|date('d/m/Y') }}</small>
                        <br>
                        <small>
                            <strong>Artiste:</strong>
                            <a href="{{ path('artist_page', {id: record.artist.id}) }}">
                                {{ record.artist.name }}
                            </a>
                        </small><br>
                        <small>
                            <strong>Label:</strong>
                            {% if record.label %}
                                <a href="{{ path('label_page', {id: record.label.id}) }}">
                                    {{ record.label.name }}
                                </a>
                            {% else %}
                                Autoproduction.
                            {% endif %}
                        </small><br>
                        {{ record.description }}
                    </p>
                </div>
            </div>
        </article>
    </div>
{% endfor %}